@import "../../sass/base";

.grid-container {
  position: relative;
  display: grid;
  grid-template-rows: 100vh min-content max-content 60rem repeat(4, min-content);
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end ] minmax(2rem, 1fr) [full-end];
  overflow-x: hidden;
  @media (min-width: 320px) and (max-width: 480px) {
    grid-template-rows: 95vh min-content max-content max-content max-content repeat(
        4,
        min-content
      );
  }
  @media only screen and (max-width: $bp-tablet) {
    grid-template-rows: 82vh min-content max-content max-content max-content repeat(
        4,
        min-content
      );
  }
}
