@import "../../sass/base";

.grid-container {
  position: relative;
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end ] minmax(2rem, 1fr) [full-end];
  overflow-x: hidden;
  @media (min-width: 320px) and (max-width: 480px) {
    grid-template-rows: 75vh min-content max-content repeat(4, min-content);
  }
}
