@import "../../sass/base";

.location {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;
        padding: 6rem 5vw;
        transform: translateX(100%);
        opacity: 0;
        z-index: 1;
    }
    &__text {
        font-size: 1.6rem;
        font-style: italic;
    }
}
