@import "../../sass/base";

.sidebar {
    background-color: rgba($color: $color-cta, $alpha: 0.7);
    backdrop-filter: blur(1rem);
    border-right: 1px solid $color-primary-dark;
    position: fixed;
    top: 0;
    left: -35rem;
    width: 40rem;
    height: 100vh;
    z-index: 10;
    transition: 0.4s ease-in-out;
    &--active {
        left: 0;
    }
    &__hamburger-menu {
        color: $color-primary-dark;
        display: flex;
        justify-content: flex-end;
    }
}
